@{
    ViewData["Title"] = "Detalhes Animal - Sistema Adoção Acapra";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/css/DetalhesAnimais.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>

    <div class="card-animal">
        <div class="titulo-animal">Luma</div>
        <div class="info-animal">Luma, 3 anos - Castrada e Vacinada, Porte G.</div>

        <div class="galeria text-center">
            <h5>Galeria</h5><br />
            <img src="~/imagens/Foto Luma.jpeg" />
        </div>

        <div class="descricao">
            <div class="descricao-titulo">Descrição</div>
            <p class="mt-2">
                Luma vivia nas ruas com seu irmão Juca. Ele foi adotado, mas ela ainda segue esperando seu tão sonhado lar.<br />
                Luma é puro amor e calmaria! Precisa de um lar com muito amor e carinho.
            </p>
        </div>

        <div class="text-center">
            <button class="btn btn-adotar">Adotar</button>
        </div>
    </div>

</body>
</html>
