.footer {
    background-color: #4B3F72;
    color: white;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.icon {
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.bi-whatsapp:hover {
    color: #25D366 !important;
    transform: translateY(-3px);
    cursor: pointer;
}

.bi-facebook:hover {
    color: #1877F2 !important;
    transform: translateY(-3px);
    cursor: pointer;
}

.bi-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    transform: translateY(-3px);
    cursor: pointer;
}
