body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


table {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse ;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f4f4f4;
}

    td:first-child,
    th:first-child {
        text-align: left;
    }

    td:last-child,
    th:last-child {
        text-align: right;
    }

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

    .icons i {
        cursor: pointer;
        font-size: 18px;
        color: #555;
        transition: color 0.3s;
    }

        .icons i:hover {
            color: #000;
        }
