@{
    ViewData["Title"] = "Tabela Raca - Sistema Adoção Acapra";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="~/css/TabelaEspecie.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Tabela com Ícones</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <table>
        <tr>
            <th>Item</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td>Cachorro</td>
            <td class="icons">
                <i class="fa-solid fa-pen-to-square" title="Editar"></i>
                <i class="fa-solid fa-trash" title="Excluir"></i>
            </td>
        </tr>
        <tr>
            <td>Gato</td>
            <td class="icons">
                <i class="fa-solid fa-pen-to-square" title="Editar"></i>
                <i class="fa-solid fa-trash" title="Excluir"></i>
            </td>
        </tr>
    </table>

</body>
</html>
