@{
    ViewData["Title"] = "Tabela Raca - Sistema Adoção Acapra";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="~/css/TabelaRaca.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Tabela com Ícones</title>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <table>
        <tr>
            <th>Item</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td>Item 1</td>
            <td class="icons">
                <i class="fas fa-edit" title="Editar"></i>
                <i class="fas fa-trash" title="Excluir"></i>
            </td>
        </tr>
        <tr>
            <td>Item 2</td>
            <td class="icons">
                <i class="fas fa-edit" title="Editar"></i>
                <i class="fas fa-trash" title="Excluir"></i>
            </td>
        </tr>
    </table>

</body>
</html>
